@{
    ViewData["Title"] = "Livraria BI";
}

<div class="text-center">
    <h1 class="display-4">Seja-bem vinde</h1>
    <p>Essa livraria é responsável pela contribuição científica e literária, de diversos autores nacionais e internacionais </p>
</div>
