html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #BEAFB1;
}


td a, td, th, p, h1, a{
    color: white;
}
label {
    color: white;
    font-size: large
}
a hover{
    color: white;
}
tbody, th, hr{
    border-color: #4b3621;
}

